*{
    font-family: sans-serif;
}

h1{
    color: gold;
    text-shadow: 2px 2px 6px black;
    font-weight: bold;
}

h3{
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
}

.score-button{
    align-items: center;
    justify-content: center;
}
.scoreboard-main{
    background: linear-gradient(145deg, #0b6623, #4CAF50);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.scorecard-1 {
    border-radius: 20px;
    padding: 40px;
    color: white;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}


.scorecardright >h1{
    color: whitesmoke;
    font-size: 250px ;

}

@media (max-width: 500px) {
    .scorecard-1{
        display: flex;
        flex-direction: column;
    }
    .scorecardright> h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .scorecardleft>h1{
        width: 100%;
    }
}